src/.qsys_edit/

src/db/
src/incremental_db/
src/*.done
src/*.sof
src/*.summary
src/*.jdi
src/*.rpt
src/*.smsg
src/*.pin
src/*.qws
src/*.bak
src/greybox*/

src/software/*
!src/software/DM9000A/


src/qsys/*
!src/qsys/system.qsys
!src/qsys/DM9000A